body{
    background: rgb(107, 178, 245);
    margin: 0px;
    padding: 0px;
    
}
#header{
    background: rgb(107, 178, 245);
    width: 100%;
    padding-bottom: 1em;
    border-bottom: thin solid;
}
#content{
    background: rgb(107, 178, 245);
    display: flex;
    float: left;
    width: 80%;
    height: 800px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-right: thin solid;
}
#sidebar{
    background: rgb(107, 178, 245);
    float: right;
    
    height: 800px;
}
#footer{
    background: rgb(107, 178, 245);
    clear: both;
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin solid;
}
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
  }
  ul.navbar a {
    text-decoration: none;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: purple;
  }
