.translate-btn{
    position: absolute;
    color: var(--font-color-1);
    font-size: var(--font-size-content-small);
    font-family: 'BenchNine', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 5vw;
    top: 2vw;
}

.separate-line{
    width: 0;
    height: var(--font-size-content-medium);
    border: 0.5px solid white;
    margin-left: 5px;
    margin-right: 5px;
}