<div class="contact-boundary" id="contact-us">
    <div class="social-media-icon">
        <a href="www.facebook.com"><img src='./view/asset/facebook.svg' height="50px"></img></a>
        <a href="www.instagram.com"><img src='./view/asset/instagram.svg' height="50px"></img></a>
        <a href="www.tripadvisor.com"><img src='./view/asset/tripadvisor.svg' height="50px"></img></a>
    </div>
    <div class="official-information">
        <i>
            <div>NHOÀM'S RESTAURANT</div>
            <div>SĐT: +84 836 266 866</div>
            <div>Email: nhoam.official@gmail.com</div>
            <div>Giấy CNĐKDN: 0313458528-001 - Ngày cấp: 21/1/2017</div>
            <div>Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở kế hoạch và Đầu tư TP. Hà Nội</div>
            <div>Địa chỉ đăng ký kinh doanh: 1 Đại Cồ Việt, Quận Hai Bà Trưng, Tp. Hà Nội, Việt Nam</div>
        </i>
    </div>
    <hr>
    </hr>
    <div class="copyright">
        Nhoàm's Restaurant <i class="fa-solid fa-copyright"></i>
    </div>

</div>