<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0c4f9d3c75.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <form>
                <div class="input-container">
                    <label>Enter username
                        <input
                        type="text" 
                        placeholder="username"
                        />
                    </label>
                </div>
                <div class="input-container">
                    <label>Enter password
                        <input
                        type="password"
                        placeholder="password"
                        />
                    </label>
                </div>
                <div class="check-box">
                    <label htmlFor="check-box-login">Keep signed in?</label>
                    <input
                    type="checkbox"
                    id="check-box-login"
                    />
                </div>
                <div class="button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="logo">
            <div class="__logo">
                <a class="logo" href="./"><i class="fa-solid fa-utensils"></i><span class="nhoam-logo">Nhoàm</span></a>
                <span>restaurant</span>
            </div>
        </div>
    </div>
</body>
</html>