.menu{
    width: 100%;
}

.menu .img{
    background-image: url('../../assets/menu-img.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: var(--height-size);
}
/* .hsub0's property in index.css */
/* .menu-title's property in index.css */

.menu-option{
    width: 100%;
    height: fit-content;
    background-color: #3C311F;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.menu-sub-title{
    color: var(--font-color-2);
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    letter-spacing: 15px;
    margin: 0;
    padding-bottom: 120px;
    font-family: 'Noto Serif Display', serif;
    text-transform: uppercase;
}

.menu-list-option{
    width: 84%;
    justify-self: center;
}

.tmp-menu-option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    row-gap: 80px;
}

.menu-list{
    width: 500px;
    height: 500px;
    border: 1px solid var(--font-color-1);
    background-image: url('../../assets/order-menu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.menu-i{
    width: 400px;
    height: 200px;
    border: 1px solid var(--font-color-1);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    left: 50%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-topic{
    color: var(--font-color-1);
    font-size: var(--font-size-content-medium);
    /* line-height: 200px; */
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Noto Serif Display', serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1690px){
    .menu-option{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .menu-sub-title{
        padding-bottom: 80px;
    }

    .menu-list{
        width: 400px;
        height: 400px;
    }

    .menu-i{
        width: 240px;
        height: 120px;
    }
}
@media (max-width: 1124px){
    .menu-option{
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .menu-sub-title{
        padding-bottom: 64px;
        letter-spacing: 10px;
    }

    .tmp-menu-option{
        row-gap: 48px;
    }
    .menu-list{
        width: 300px;
        height: 300px;
    }

    .menu-i{
        width: 200px;
        height: 100px;
    }
}
@media (max-width: 768px){
    .menu-option{
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .menu-sub-title{
        padding-bottom: 48px;
        letter-spacing: 6px;
    }

    .tmp-menu-option{
        row-gap: 32px;
    }
    .menu-list{
        width: 200px;
        height: 200px;
    }

    .menu-i{
        width: 140px;
        height: 70px;
    }
}
@media (max-width: 600px){
    .menu-option{
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .menu-sub-title{
        padding-bottom: 26px;
        letter-spacing: 6px;
    }

    .tmp-menu-option{
        row-gap: 20px;
    }
    .menu-list{
        width: 240px;
        height: 240px;
    }

    .menu-i{
        width: 140px;
        height: 70px;
    }
}