.contact-boundary{
    background-color: #151310;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icon{
    width: 330px;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.official-information{
    width: 80%;
    color: white;
    margin-top: 30px;
    justify-self: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
    line-height: 25px;
}

.contact-boundary hr{
    border: 0.5px solid white;
    margin-top: 50px;
    width: 100%;
}

.copyright{
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
}

/* @media(max-width: 1690px){
    .contact-boundary{ 
        height: 360px;
    }

    .social-media-icon{
        margin-top: 80px;
        width: 260px;
    }

    .official-information{
        font-size: 14px;
        line-height: 18px;
    }
}

@media(max-width: 1124px){
    .contact-boundary{ 
        height: 300px;
    }
    .contact-boundary hr{
        margin-top: 30px;
    }
    
    .social-media-icon{
        margin-top: 64px;
        width: 260px;
    }

    .official-information{
        font-size: 12px;
        line-height: 14px;
    }
}

@media(max-width: 768px){
    .contact-boundary{ 
        height: 240px;
    }
    .contact-boundary hr{
        margin-top: 20px;
    }
    
    .social-media-icon{
        margin-top: 40px;
        width: 260px;
    }

    .official-information{
        font-size: 8px;
        line-height: 12px;
    }
    .copyright{
        font-size: 8px;
    }
}

@media(max-width: 600px){
    .contact-boundary{ 
        height: 260px;
    }
    .contact-boundary hr{
        margin-top: 16px;
    }
    
    .social-media-icon{
        margin-top: 32px;
        width: 240px;
    }

    .official-information{
        font-size: 11px;
        line-height: 12px;
    }
    .copyright{
        font-size: 9px;
    }
} */