.menu{
    width: 100%;
}

.menu .img{
    background-image: url('../asset/menu-img.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 0px 50px #3C311F;
    background-position: bottom;
    width: 100vw;
    height: var(--height-size);
}
/* .hsub0's property in index.css */
/* .menu-title's property in index.css */

.menu-option{
    width: 100%;
    height: fit-content;
    background-color: #3C311F;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.menu-sub-title{
    color: var(--font-color-2);
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    /* letter-spacing: 15px; */
    margin: 0;
    /* padding-bottom: 100px; */
    font-family: var(--font-family);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.menu-list-option{
    width: 80%;
    justify-content: center;
}

.tmp-menu-option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-list{
    width: 270px;
    height: 300px;
    background-image: url('../asset/order-menu.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 30px;
}


.menu-i{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #cac9bc;
    border: 1px solid var(--font-color-3);
}

.menu-i a{
    text-decoration: none;
}
.menu-topic{
    width: 100%;
    height: 100%;
    color: var(--font-color-3);
    font-size: var(--font-size-content-small);
    font-family: var(--font-family);
}
/* 
@media (max-width: 1690px){
    .menu-option{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .menu-sub-title{
        padding-bottom: 80px;
    }

    .menu-list{
        width: 350px;
        height: 400px;
    }
}

@media (max-width: 1124px){
    .menu-option{
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .menu-sub-title{
        padding-bottom: 64px;
        letter-spacing: 10px;
    }

    .tmp-menu-option{
        row-gap: 48px;
    }
    .menu-list{
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 768px){
    .menu-option{
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .menu-sub-title{
        padding-bottom: 48px;
        letter-spacing: 6px;
    }

    .tmp-menu-option{
        row-gap: 32px;
    }
    .menu-list{
        width: 200px;
        height: 200px;
    }
}*/
@media (max-width: 600px){
    .menu-option{
        padding-top: 26px;
        padding-bottom: 60px;
    }

    /* .menu-sub-title{
        padding-bottom: 26px;
        letter-spacing: 6px;
    }

    .tmp-menu-option{
        row-gap: 20px;
    }
    .menu-list{
        width: 240px;
        height: 240px;
    }

    .menu-i{
        width: 140px;
        height: 70px;
    } */
} 