.move-to-top{
    position: fixed;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.move-top-icon{
    color:  var(--font-color-2);
    padding: 20px;
    font-size: var(--font-size-content-medium);
}
