.book-a-table{
    width: 100%;
}
.book-a-table .img{
    background-image: url('../asset/book-a-table-img.jpg');
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0px 0px 0px 50px #4E2816;
    width: 100vw;
    height: var(--height-size);
}
/* .hsub0's property in index.css */
/* .menu-title's property in index.css */

.take-information{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #4E2816;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.sub-menu-title{
    color: var(--font-color-2);
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    letter-spacing: 15px;
    margin: 0;
    padding-bottom: 120px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: var(--font-family);
    text-transform: uppercase;
}
.location{
    width: 80%; 
    padding-bottom: 50px;
}
.location span{
    color: var(--font-color-1);
    font-size: var(--font-size-content-large);
    font-family: var(--font-family);
    font-weight: 400;
}
.open-close-time{
    font-family: var(--font-family);
}

.open-close-time .h2{
    font-size: var(--font-size-content-medium);
    text-transform: uppercase;
    color: var(--font-color-1);
    line-height: 50px;
    font-weight: 400;
}

.open-close-time .h3{
    font-size: var(--font-size-content-small);
    color:var(--font-color-2);
    font-weight: 400;

}

.fa-location-dot{
    color: var(--font-color-2);
}

.book-a-table-content{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.form{
    width: 80%;
    text-align: right;
    justify-self:right;
    font-family: var(--font-family);
}
.form .h1{
    font-size: var(--font-size-content-large);
    color: var(--font-color-2);
    font-weight: 400;
    line-height: 60px;
}
.form .h3, .guest-number{
    font-size: var(--font-size-content-small);
    color:var(--font-color-1);
    font-weight: 400;
}
form{
    width: 100%;
}
.open-close-time{
    border-right: 1px solid var(--font-color-2);;
}

input, textarea{
    display: flex;
    flex-direction: column;
    resize: none;
    width: 100%;
    font-size: var(--font-size-content-mini);
    float: right;
    padding: 10px;
    margin-bottom: 10px;
}

.guest-number{
    line-height: 40px;
}

input[type="number"]{
    width: 60px;
    margin-left: 10px;
}

input[type="submit"]{
    text-transform: uppercase;
    background: none;
    cursor: pointer;
    border: 1px solid var(--font-color-2);;
    color: var(--font-color-2);;
    align-items: center;
    font-size: var(--font-size-content-medium);
    font-family: var(--font-family);
}

@media (max-width: 1690px){
    .take-information{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
}

@media (max-width: 1124px){
    .take-information{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 768px){
    .take-information{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .open-close-time .h2{
        line-height: 24px;
    }
    .form .h1{
        line-height: 16px;
    }
    input, textarea{
        padding: 6px;
        margin-bottom: 6px;
    }
    .guest-number{
        line-height: 24px;
    }
    .location{
        width: 80%; 
        padding-bottom: 36px;
    }
}
@media (max-width: 600px){
    .take-information{
        padding-top: 26px;
        /*  */
    }

    .sub-menu-title {
        padding-bottom: 26px;
    }
    .open-close-time .h2{
        line-height: 10px;
    }

    input, textarea{
        padding: 6px;
        margin-bottom: 6px;
    }
    .guest-number{
        line-height: 24px;
    }
    .location{
        width: 80%; 
        padding-bottom: 20px;
    }
    .book-a-table-content{
        display: block;
    }
    .open-close-time{
        border-right: none;
        border-bottom: 1px solid var(--font-color-2);;
    }

    .form{
        float: right;
    }
}